<div class="container">
  <h2 class="text-center">Hi, {{ page.user.username }}</h2>
  <div class="row">
    <!-- Dynamic Chart -->
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Dynamic Chart
          <button type="button" class="pull-right" ng-click="page.toggle()">Toggle</button>
        </div>
        <div class="panel-body">
          <canvas id="base" class="chart-base" chart-type="page.type"
            chart-data="page.data" chart-labels="page.labels" >
          </canvas>
        </div>
      </div>
    </div><!-- /Dynamic Chart end -->

    <!-- Chart2 -->
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Chart2
          <button type="button" class="pull-right" ng-click="page.toggle()">Toggle</button>
        </div>
        <div class="panel-body">
          <canvas id="base" class="chart-base" chart-type="page.type"
            chart-data="page.data" chart-labels="page.labels" >
          </canvas>
        </div>
      </div>
    </div>
  </div><!-- /Chart2 end -->



</div>
