<div class="row">
  <!-- <div class=""> -->
    <div class="thumbnail col-sm-4 col-md-2" ng-repeat="item in page.lst">
      <img src="{{ item.img }}" alt="{{ item.title }}" height="120px">
      <div class="caption">
        <p>
          <button class="btn btn-xs btn-danger" ng-click="page.goto(item.href)" ui-sref="online">Online</button>
          <button class="btn btn-xs btn-primary" ng-click="page.goto(item.href)" ui-sref="download">Download</button>
        </p>
        <p>{{ item.title }}</p>
      </div>
    </div>
  <!-- </div> -->
</div>
