<div class="container">
  <div class="col-lg-4 col-sm-3"></div>
  <div class="col-lg-4 col-sm-6">
    <div class="pull-right">
      <button class="btn btn-link" ng-disabled="page.isRegister" ng-click="page.switch()">注册</button>
      <span>/</span>
      <button class="btn btn-link" ng-disabled="!page.isRegister" ng-click="page.switch()">登录</button>
    </div>

    <form>
      <!-- Sign in -->
      <div ng-if="!page.isRegister">
        <h2>登录</h2>
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="page.username">
        <input type="password" class="form-control" placeholder="Password" required="" ng-model="page.passwd">
        <div class="bg-danger" ng-if="page.wrongpasswd">密码错误.</div>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" ng-model="page.remember">Remember me
          </label>
        </div> -->
        <button class="btn btn-primary btn-block" type="submit" ng-click="page.login()">登录</button>
      </div>
      <!-- Register -->
      <div ng-if="page.isRegister">
        <h2>注册</h2>
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="page.username">

        <input type="password" class="form-control" placeholder="Password" required="" ng-model="page.passwd">
        <input type="password" class="form-control" placeholder="ConfirmPassword" required="" ng-model="page.confirmpasswd">
        <div class="bg-danger" ng-if="page.passwd !== page.confirmpasswd">密码不匹配.</div>
        <div class="input-group">
          <label>性别</label> &nbsp
          <input type="radio" name="gender" required="" value="female" ng-model="page.gender"><span class="fa fa-female"></span> &nbsp
          <input type="radio" name="gender" required="" value="male" ng-model="page.gender"><span class="fa fa-male"></span>
        </div>
        <div>
          <label>年龄</label> &nbsp
          <input type="radio" name="age" ng-model="page.age" required="" value="childhood">0~12  &nbsp
          <input type="radio" name="age" ng-model="page.age" required="" value="teenager">13~18 &nbsp
          <input type="radio" name="age" ng-model="page.age" required="" value="youth">19~25 &nbsp
          <input type="radio" name="age" ng-model="page.age" required="" value="middleAge">26~40 &nbsp
          <input type="radio" name="age" ng-model="page.age" required="" value="aged">41~60
        </div>

        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" ng-model="page.remember">Remember me
          </label>
        </div> -->
        <button class="btn btn-info btn-block" type="submit" ng-click="page.register()">注册</button>
      </div>
    </form>
  </div>

</div>
