body {
  padding: 65px;
}

.thumbnail img {
  height: 100px;
}

.checkbox input {
  margin-top: 2px;
}

.flag {
  font-size: 95%;
}

.myscroll {
  height: 240px;
  overflow-y: scroll;
}
.title-scroll {
  height: 16px;
  overflow-y: scroll;
}
