<div class="col-xs-span">
  <!-- Search box -->
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Entry the url of video..." ng-model="page.myurl">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="page.search()">Go!</button></span>
      </div>
    </div>
  </div>
  <!-- displayed after searched -->
  <div class="row" ng-if="page.searched">
  <!-- <div class="row"> -->
    <!-- infos -->
    <div class="col-lg-12">
      <div ng-if="page.success" class="panel panel-success">
        <div class="panel-heading">
          This is Search Result
        </div>
        <!-- <ul class="list-group">
          <li class="list-group-item" ng-repeat="info in page.videoinfos">
            <span class="label label-info">{{info.key}}</span> {{info.value}}
          </li>
          <li class="list-group-item" ng-if="page.loadcomplete && page.inlst">
            <button class="label label-primary" ng-repeat="v in page.playlst" ng-click="page.select(v.href)">
              {{v.text}}
            </button>
          </li>
        </ul> -->
        <div>{{page.infos}}</div>
      </div>
      <div ng-if="!page.success" class="panel panel-danger">
        <div class="panel-heading">
          This is Failed Info
        </div>
        <div class="panel-body">
          loading or error
        </div>
      </div>
    </div>



  </div>
</div>
