<div class="row">
  <div class="col-lg-1"></div>
  <div class="videogular-container col-lg-10">
    <videogular vg-theme="page.config.theme.url">
      <vg-media vg-src="page.config.sources" vg-tracks="page.config.tracks"></vg-media>
      <vg-controls vg-autohide="page.config.plugins.controls.autoHide" vg-autohide-time="page.config.plugins.controls.autoHideTime">
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
        <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-playback-button></vg-playback-button>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>
    </videogular>
  </div>

  <!-- <div class="videogular-container">
    <videogular vg-player-ready="page.onPlayerReady($API)" vg-complete="page.onCompleteVideo()"
    vg-theme="page.config.theme.url">
      <vg-media vg-src="page.config.sources" vg-tracks="page.config.tracks">
      </vg-media>
      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-playback-button></vg-playback-button>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
    </videogular>
  </div>
  <div class="playlist">
    <ul>
      <li ng-repeat="item in page.videos track by $index">
        <a ng-click="page.setVideo($index)">
          {{$index}}
        </a>
      </li>
    </ul>
  </div> -->
</div>
<div class="row">
  <embed src="http://202.109.167.175/c1/2017/04/07_0/C29CB98A55C5EE5322E316F7D89FBF60_20170407_1_1_1550_mp4/7D371A4188D37D410719AA7663C27077_4510080_4520080_1501_v02_mp4.ts?t=58f2a79e&pno=1042000&win=300&srgid=253&urgid=806&srgids=253&nid=1987&payload=usertoken%3Dhit%3D1%5Eruip%3D3727448086&rdur=21600&limitrate=0&fid=C29CB98A55C5EE5322E316F7D89FBF60&ver=0x03&uuid=4696450789d2429080b733eab9fa73dc&arange=0&sign=964c1469984a376a1d6a4754397ee0a4" type="application/x-shockwave-flash"
    width="320" height="240" allowscriptaccess="always" allowfullscreen="true"></embed>
</div>
